<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>BCCP GENERATOR</title>
    
    <!-- {{ url_for('static', filename='css/styles.css') }} -->
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand logo-text page-scroll" href="http://localhost:1212/" >Data Prediction</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:1212/predict"><span class="item-text">Predict</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="http://localhost:1212/statistic"><span class="item-text">Statistics</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1><span class="turquoise">BCCP GENERATOR</span></h1>
                            <p class="p-large">(Bank Customer Churn Prediction Generator)</p>
                            <h4>This project is the final project of Purwadhika Digital Technology School Bekasi, as a Data Science 
                                and the purpose of this project is to find out the possibility that people will remain at the bank or 
                                will leave the bank. Solve this problem with various Machine Learning methods that can provide predictions 
                                that the person will stay or will leave the bank.</h4>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- http://localhost:4000/static/SBA_logo1.png -->
    <!-- {{ url_for('static', filename='css/styles.css') }} -->
    <!-- Scripts -->
    <script src="http://localhost:1212/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="http://localhost:1212/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="http://localhost:1212/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="http://localhost:1212/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>