<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>BCCP GENERATOR</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".fixed-top">


    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand logo-text page-scroll" href="http://localhost:1212/">Home</a>
        <a class="navbar-brand logo-text page-scroll" href="http://localhost:1212/statistic">Statistics</a>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- Prediction -->
    <form method="POST" action="http://localhost:1212/result">
    <div id="request" class="form-1">
    <center>
    <h3> PREDICT CALCULATION </h3>
    <p>BCCP GENERATOR</p>
    </center>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="form-group" required="required">
                            <label for="geo">Region :</label>
                            <select name="geo"class="form-control-select" id="rselect" required>
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="fra">France</option>
                                <option value="ger">German</option>
                                <option value="spa">Spain</option>
                            </select>
                        </div>
                        <div class="form-group" required="required">
                            <label for="gender">Gender :</label>
                                <select name="gender" class="form-control" required>
                                    <option value="" disabled selected>Choose Option..</option>
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>
                                </select>
                        </div>
                        <div class="form-group" required="required">
                            <label for="ccard">Has Credit Card(s) :</label>
                            <select name="ccard" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="y">Yes</option>
                                <option value="n">No</option>
                            </select>
                        </div>
                        <div class="form-group" required="required">
                            <label for="active">Active Member :</label>
                            <select name="active" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="y">Yes</option>
                                <option value="n">No</option>
                            </select>
                        </div>
                        <div class="form-group" required="required">
                            <label for="credit">Credit Score :</label>
                            <input type="number" step= "1" min="350" max="850" class="form-control" name="credit" placeholder="350-850" required=True>
                        </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="form-group" required="required">
                            <label for="balance">Balance (US$) :</label>
                            <input type="number" step= ".01" min="0" max="300000" class="form-control" name="balance" placeholder="0-300.000,00" required=True>
                        </div>
                        <div class="form-group" required="required">
                            <label for="salary">Salary (US$) :</label>
                            <input type="number" step= ".01" min="0" max="200000" class="form-control" name="salary" placeholder="0-200.000,00" required=True>
                        </div>
                        <div class="form-group" required="required">
                            <label for="age">Age :</label>
                            <input type="number" placeholder="18-100" name="age" step= "1" min="18" max="100" id="age" class="form-control" required=True/>
                        </div>
                          <div class="form-group" required="required">
                            <label for="tenure">Tenure :</label>
                            <input type="number" placeholder="1-10" name="tenure" step= "1" min="0" max="10" id="tenure" class="form-control" required=True/>
                        </div>
                        <div class="form-group" required="required">
                          <label for="prod">Product(s) Used :</label>
                          <input type="number" placeholder="1-4" name="prod" step= "1" min="1" max="4" id="prod" class="form-control" required=True/>
                        </div>      
                    </div> <!-- end of form-container -->
                </div> <!-- end of col -->
                <div class="form-group col-lg-12">
                    <button type="submit" class="form-control-submit-button">PREDICT NOW!</button>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    </form> <!-- end of prediction form -->
    <!-- end of prediction -->
<!-- Scripts -->
<script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>